<h1>Components</h1>
<hr>
<h2>Modal Images</h2>

<div class="image-with-border modal-trigger" ng-controller="elementCtrl" ng-click="expandModal(mockPhotoModalElement)">
  <div class="modal-image-container">
    <img ng-src="http://placekitten.com/800/600" src="http://placekitten.com/800/600"> 
    <span class="ux-button square ux-icon modal-controls expand icon-expand"></span>
  </div>
</div>


<h2>Modal Videos</h2>
<div class="image-with-border modal-trigger" ng-controller="elementCtrl" ng-click="expandModal(mockVideoModalElement)">
	<div class="modal-image-container">
		<img width="600" height="400"src="https://d7cqn9pfudpvk.cloudfront.net/projects/58/asset_images/2897/tablet_image_modal_video_gameplay.png">
		<span class="ux-button circle ux-icon modal-controls video icon-downArrow ch-1-pg-1-modal-video-1"></span>
	</div>
</div>

