<!doctype html>
<html class="no-js" lang="en" ng-app="styleGuideApp">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gaming Docs Style Guide - v1.0 Manatee</title>
  <link rel="stylesheet" href="stylesheets/app.css" type="text/css" />
  <script src="bower_components/modernizr/modernizr.js"></script>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/github.min.css">
</head>
<body>
<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <div class="fixed">
      <nav class="top-bar docs-bar hide-for-small" data-topbar="">
        <ul class="title-area">
          <li class="name">
            <h1><a href="http://foundation.zurb.com/">Gaming Docs Style Guide - v1.0 Manatee</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <!-- <ul class="right">
            <li class="divider"></li>
          </ul> -->
        </section>
      </nav>
      <nav class="tab-bar show-for-small">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
        </section>
        <section class="middle tab-bar-section">
          <h1 class="title">Gaming Docs Style Guide - 1.0 Manatee</h1>
        </section>
      </nav>
    </div>
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Layout</label></li>
        <li><a href="#">Top Bar</a></li>
        <li><a href="#">Table of Contents</a></li>
        
        <li><label>Typography</label></li>
        <li><a href="#">Headers</a></li>
        <li><a href="#">Content</a></li>
        
        <li><label>Components</label></li>
        <li><a href="#">Headers</a>
          <ul>
            <li><a href="#">A-Head</a></li>
            <li><a href="#">B-Head</a></li>
            <li><a href="#">Body Head</a></li>
          </ul>
        </li>
        <li><a href="#">Content</a>
          <ul>
            <li><a href="#">Bulleted List</a></li>
            <li><a href="#">External Link</a></li>
            <li><a href="#">Paragraph</a></li>
          </ul>
        </li>
        <li><a href="#">Control Item</a></li>
        <li><a href="#">Modals</a>
          <ul>
            <li><a href="#">Modal Carousel</a></li>
            <li><a href="#">Modal Image</a></li>
            <li><a href="#">Modal Video</a></li>
          </ul>
        </li>
        <li><a href="#">Table</a></li>
        <li><a href="#">Inline</a>
          <ul>
            <li><a href="#">Inline Gif</a></li>
            <li><a href="#">Inline Image</a></li>
            <li><a href="#">Inline Video</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <a class="exit-off-canvas"></a>
    <section role="main">
      <div class="row">
        <div class="large-3 columns">
          <div class="hide-for-small">
            <div class="sidebar">
              <form>
                <input tabindex="1" id="autocomplete" type="search" placeholder="Search Docs: e.g. forms" autocomplete="off">
              </form>
              <nav>
                <dl class="accordion" data-accordion>
                  <dd>
                    <a href="#fundamentals">Fundamentals</a>
                    <div id="fundamentals" class="content active">
                      <ul class="side-nav">
                        <li><a href="#stylesheets">Stylesheets</a></li>
                        <li><a href="#fundamentals">Media Queries</a></li>
                        <li><a href="default-colors">Default Colors</a></li>
                        <li><a href="#type">Type</a></li>
                      </ul>
                    </div>
                  </dd>
                  <dd>
                    <a href="#layout">Layout</a>
                    <div id="layout" class="content">
                      <ul class="side-nav">
                        <li><a href="#top-bar">Top Bar</a></li>
                        <li><a href="#toc">Table of Contents</a></li>
                        <li><a href="#content-area">Content Area</a></li>
                      </ul>
                    </div>
                  </dd>
                  <dd>
                    <a href="#components">Components</a>
                    <div id="components" class="content">
                      <ul class="side-nav">
                        <li><a ng-click="navSection('headers');">Headers</a>
                          <ul>
                            <li><a ng-click="navSection('headers', 'ahead');">A-Head</a></li>
                            <li><a ng-click="navSection('headers', 'bhead');">B-Head</a></li>
                            <li><a ng-click="navSection('headers', 'bodyhead');">Body Head</a></li>
                          </ul>
                        </li>
                        <li><a ng-click="navSection('content');">Content</a>
                          <ul>
                            <li><a ng-click="navSection('content', 'blist');">Bulleted List</a></li>
                            <li><a ng-click="navSection('content', 'extlink');">External Link</a></li>
                            <li><a ng-click="navSection('content', 'paragraph');">Paragraph</a></li>
                          </ul>
                        </li>
                        <li><a ng-click="navSection('control-item');">Control Item</a></li>
                        <li><a ng-click="navSection('modal');">Modals</a>
                          <ul>
                            <li><a ng-click="navSection('modal', 'carousel');">Modal Carousel</a></li>
                            <li><a ng-click="navSection('modal', 'image');">Modal Image</a></li>
                            <li><a ng-click="navSection('modal', 'video');">Modal Video</a></li>
                          </ul>
                        </li>
                        <li><a ng-click="navSection('table');">Table</a></li>
                        <li><a ng-click="navSection('inline');">Inline</a>
                          <ul>
                            <li><a ng-click="navSection('inline', 'gif');">Inline Gif</a></li>
                            <li><a ng-click="navSection('inline', 'image');">Inline Image</a></li>
                            <li><a ng-click="navSection('inline', 'video');">Inline Video</a></li>
                         </ul>
                       </li>
                      </ul>
                    </div>
                  </dd>
                </dl>
              </nav>
            </div>
          </div>
        </div>
        <div class="large-9 columns">
          <div id="content-container">
            <ng-view></ng-view>
          </div>
      </div>
    </section>
  </div>
</div>

<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
<script src="bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-animate.js"></script>
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
<!-- <script src="js/digireader-modal-trigger.js"></script> -->
<!-- <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script> -->
<script src="js/app.js"></script>
</body>
</html>
