$black-transparent: rgba(0,0,0,0.9);
$zIndex100: 100;
$modal-overlay-color: $black-transparent;
$small-screen: emCalc(768px);
$mobile-large-screen: emCalc(560px);
$default-float: left;



%fixed, .fixed {
  width: 100%;
  #{$default-float}: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}


.modal-container {
  @extend %fixed;
  background: $modal-overlay-color;
  left: 0;
  right: 0;
  width: auto;
  top: 0;
  bottom: 0;
  height: auto;
  min-height: 100%;
  overflow-y: scroll;
  z-index: $zIndex100 !important;
}

.modal-container .grid {
  @extend .row;
}
.modal-image-container {
  display: block;
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto 2rem;
  img {
    width: 100%;
  }
}
.modal-content {
  text-align: center;
  > * {
    width: 80%;
    margin: 0 auto 1rem;
  }
}
.detailbox {
  color: #fff;
  height: 100%;
  overflow: hidden;
}

.detailbox .modal-content {
  position: relative; /*Important for the position of the close box*/
  z-index: $zIndex100;
  margin-top: 1%;
}

.hide-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.detail-wrapper {
  width: 100%;
  height: 100%;
}

.detail-header {
  background:transparent;
  position: relative;
  text-align:right;
  width: 100%;
  padding: 0.9375rem;
}

.closeicon {
  cursor: pointer;
  font-size: 1.5rem;
}

table .modal-image-container {
  width: 100%;
}


@media screen and (max-width:#{$small-screen}) {
  .modal-image-container, .modal-alpha-base, .inline-gif-container {
    width: 100% !important;
  }
}
@media screen and (max-width:#{$mobile-large-screen}) {
  .modal-image-container, .modal-alpha-base, .inline-gif-container {
    width: 100% !important;
  }
  .modal-content > * {
    width: 100% !important;
  }
}